{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block Title%} Default value{% endblock %} 
    </title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        html, body { background-color: rgb(71, 206, 255) !important; color: #dc2c2c !important; }
        h1 { color: rgb(37, 43, 242) !important; }
        .rounded { border-radius: 1rem !important; }
    </style>
</head>
<body>
    <nav>This is the navbar</nav>
    {% block Content %} Default value{% endblock %}
    
</body>
</html>