{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Mansingh And Django</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    <h1>This is the About Section of out Webpage</h1>
    <p>Here is the info and other policy of the webpage</p>
    <p1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum architecto sint minima in ad ea assumenda quae aperiam, aut magni natus incidunt, corrupti tenetur enim eligendi rerum id nesciunt minus reprehenderit, recusandae cumque. Magnam voluptates amet necessitatibus velit, consequatur laudantium nihil minus dolorem similique temporibus vitae quasi distinctio, repellat rerum cupiditate dicta sit a libero praesentium eum

    </p1>
</body>
</html>